@charset "ISO-8859-1";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
	height: 60px;
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 2rem;
}

footer {
  height: 40px;
  text-align: center;
  background-color: #f0f0f0;
}

main {
  flex: 1;
}

.navbar {
  height: 60px;
  padding-top: 0px;
}

.nav-link {
  color: #007bff;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
}

.nav-link:hover {
  color: #0056b3;
}

.content {
  flex: 1;
  padding-bottom: 1rem;
}

#sesion-cuenta {
	display: flex;
  align-items: center;
}